qhvdiv {
    display: block;
}

:-webkit-full-screen {
    z-index: 21474836 !important;
}
/*全屏时隐藏控件  https://css-tricks.com/custom-controls-in-html5-video-full-screen/ */
.qhv-v-box video::-webkit-media-controls-enclosure {
    display: none !important;
}

.qhv-v-box {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.qhv-v-box video {
    position: relative;
}

.qhv-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.qhv-v-box .qhv-ctrls-box {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-flex: 1;
    line-height: 1em;
}

.qhv-v-box .qhv-ctrls {
    width: 100%;
    height: 2.5em;
    padding: .625em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    font-size: .75em;
}

.qhv-v-box .qhv-ctrls-box .qhv-playpausebtn {
    width: 1em;
    height: 1em;
    color: #FFF;
    font-size: 1em;
    position: relative;
}

.qhv-v-box .qhv-ctrls-box .qhv-play-btn:after {
    width: 0;
    height: 0;
    border-top: .5em solid transparent;
    border-left: 1em solid #fff;
    border-bottom: .5em solid transparent;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
}
.qhv-v-box .qhv-ctrls-box .qhv-pause-btn:after {
    width: 1em;
    height: 1em;
    border-left: .4em solid #fff;
    border-right: .4em solid #fff;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.qhv-v-box .qhv-progressbar {
    display: -webkit-box;
    -webkit-box-flex: 1;
    padding-left: .833333334em;
}

.qhv-v-box .qhv-slider-bg,
.qhv-v-box .qhv-slider-buffer {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.qhv-v-box .qhv-slider-bg {
    border-radius: .5em;
    background-color: #fff;
}

.qhv-v-box .qhv-slider-buffer {
    background-color: #999;
    border-radius: .5em;
}

.qhv-v-box .qhv-progressbar .qhv-sliderbar {
    width: 100%;
    height: .625em;
    padding-top: .25em;
    position: relative;
    border: 1px solid #aaa;
    border-radius: .5em;
    background: #333;
    margin-top: .0625em;
    -webkit-box-flex: 1;
    display: -webkit-box;
}

.qhv-v-box .qhv-progressbar .qhv-slider {
    width: 2em;
    height: 1em;
    position: absolute;
    top: -.0625em;
    left: 0;
    background-color: #fff;
    border-radius: .5em;
}

.qhv-v-box .qhv-progressbar .qhv-duration,
.qhv-v-box .qhv-progressbar .qhv-current-time,
.qhv-v-box .qhv-progressbar .qhv-sep {
    color: #fff;
    max-width: 4em;
}

.qhv-v-box .qhv-progressbar .qhv-current-time {
    padding-left: .625em;
}



/*声音条*/

.qhv-v-box .qhv-volumebar {
    width: 1em;
    height: 7.25em;
    position: absolute;
    left: 1em;
    bottom: 1.5em;
}

.qhv-v-box .qhv-volumebar .qhv-volume-icon {
    width: 1em;
    height: 1em;
    margin-bottom: .5em;
    margin-top: .5em;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../images/controls.png) no-repeat -16px -16px;
}

.qhv-v-box .qhv-volumebar .qhv-volume-muted {
    background-position: -16px 0;
}

.qhv-v-box .qhv-volumebar .qhv-v-sliderbar {
    width: .25em;
    height: 5.25em;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.125em;
    background: #fff;
}

.qhv-v-box .qhv-volumebar .qhv-v-slider {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
}


/*全屏按钮*/

.qhv-v-box .qhv-screen {
    color: #fff;
    padding-left: .625em;
}


/*视频上的暂停播放按钮*/

.qhv-overlay-btn {
    width: 3.125em;
    height: 3.125em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.5625em;
    margin-left: -1.5625em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

}


.qhv-full-screen .qhv-overlay-btn {
    width: 5em;
    height: 5em;
    margin-top: -2.5em;
    margin-left: -2.5em;
}

.qhv-overlay-btn .qhv-playpausebtn {
    width: 100%;
    height: 100%;
    /*background: url(../images/bigplay.png) no-repeat;
    background-size: cover;*/
    border: .5em solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}

.qhv-overlay-btn .qhv-loading {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: .5em solid #fff;
    border-bottom-color: transparent;
    background: transparent !important;
    -webkit-animation: rotate 0.75s 0s linear infinite;
    animation: rotate 0.75s 0s linear infinite;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.qhv-overlay-btn .qhv-play-btn:after {
    width: 0;
    height: 0;
    border-top: .8em solid transparent;
    border-left: 1.4em solid #fff;
    border-bottom: .8em solid transparent;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -.5em;
    margin-top: -.8em;
}
.qhv-overlay-btn .qhv-pause-btn:after {
    width: 1em;
    height: 1.4em;
    border-left: .4em solid #fff;
    border-right: .4em solid #fff;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -.5em;
    margin-top: -.7em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}